* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
}

body.live-caption-popup {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  padding: 10px;
}
header {
  /* border: 1px solid red; */
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(52, 51, 53);
}

img {
  width: 30%;
}

.content-container {
  width: 80%;
  text-align: center;
}

p.content-message:empty {
  display: none;
}

p.content-message.error {
  color: #ff4848;
  font-style: italic;
  font-size: 11px;
}
p.content-message {
  color: #4caf50;
  font-style: italic;
  font-size: 18px;
}

.buttons-container {
  display: flex;
  column-gap: 10px;
  width: 100%;
  justify-content: space-between;
}

button {
  padding: 20px;
  border: none;
  box-shadow: none;
  background: rgb(244, 244, 245);
  font-size: 14px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.activation-button {
  background: #4caf50;
}

.deactivation-button {
  background: #ff4848;
}
